<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Responsive Admin Dashboard Template">
        <meta name="keywords" content="admin,dashboard">
        <meta name="author" content="skcats">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>看护组长站内信收发</title>

        <!-- Styles -->
       <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="assets/plugins/icomoon/style.css" rel="stylesheet">
        <link href="assets/plugins/uniform/css/default.css" rel="stylesheet"/>
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>
        <link href="assets/plugins/summernote-master/summernote.css" rel="stylesheet" type="text/css"/>
      
        &lt;!&ndash; Theme Styles &ndash;&gt;
        <link href="assets/css/ecaps.min.css" rel="stylesheet">
        <link href="assets/css/custom.css" rel="stylesheet">-->
        <!--引入css-->
        <div th:include="common_jscss :: #commonscript_css"><!--id声明的--></div>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="page-sidebar-collapsed">
        
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar 页面菜单栏-->
            <div th:replace="common_caregiver :: #leftmenu"></div><!-- /Page Sidebar 左侧菜单栏结束-->
            <!-- Page Content -->
            <div class="page-content">            
                <!-- Page Header页面头部 -->
                <div th:replace="common_caregiver :: #headermenu"></div><!--公共内容抽取--><!-- /Page Header 页面顶部导航栏-->
                <!-- Page Inner 网页内容 -->
                <div class="page-inner">
                    <div id="main-wrapper">
                        <div class="row"><!--查询行-->
                            <div class="col-md-12">
                                <div class="input-group email-search">
                                    <input type="text" class="form-control" placeholder="从邮件中查询...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">查找信息</button>
                                    </span>
                                </div>
                            </div>
                        </div><!-- Row -->
                        <div class="cross-page-line"></div>
                        <div class="row">
                            <!--左侧组成-->
                            <div class="col-md-2">
                                <div class="email-actions">
                                    <a href="#" class="btn btn-primary compose">站内信</a>
                                </div>
                                <div class="email-menu">
                                    <ul class="list-unstyled">
                                        <li class="active"><a href="#"><i class="icon-inbox"></i><span>收件箱</span></a></li>
                                        <li><a th:href="@{/caregiver/email/fajian}"><i class="icon-send" ></i><span>发件箱</span></a></li>
                                        <li class="divider"></li><!--分割线-->
                                        <li><a href="#"><i class="fa fa-star"></i><span>我的星标</span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="email-list">
                                    <ul class="list-unstyled" >
                                        <!--聊天列表区-->
                                        <!--数据-->
                                        <li th:each="info,status:${chatlogshou}" class="noactive" th:onclick="return selectinfo([[${info.chatlogId}]])" > <!--class="active" 是设置为选中状态-->
                                            <a href="#" >
                                                <div class="email-list-item">
                                                    <div class="email-author">
                                                        <img src="http://via.placeholder.com/35x35" alt="">
                                                        <span class="author-name" th:text="${info.relativesinfo.relativesName}">姓名</span>
                                                        <span class="email-date" th:text="${info.chatlogSendtime}">邮件时间</span>
                                                    </div>
                                                    <div class="email-info">
                                                        <span class="email-subject" th:text="站内信ID：+${info.chatlogId}">
                                                            站内信ID
                                                        </span>
                                                        <span class="email-text" th:text="${info.chatlogSendcontent}">
                                                            邮件主题
                                                        </span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!--数据2-->
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="email-actions">
                                    <a href="#" class="btn btn-default" id="ceregiver_email_reply">回复</a>
                                    <a href="#" class="btn btn-default" id="ceregiver_email_biaoji">标记这封邮件</a>
                                    <a href="#" class="btn btn-danger"id="ceregiver_email_delete">删除</a>
                                </div>
                                <!--邮件-->
                                <div class="email">
                                    <div class="email-header">
                                        <div class="email-title">
                                            <p> <span>私信编号：</span><span id="chatlogId">[[${session.oneInfoshou.chatlogId}]]</span></p>
                                            <p> <span>发信人编号：</span><span id="xinId">[[${session.oneInfoshou.relativesinfo.relativesSerialnumber}]]</span></p>
                                        </div>
                                        <span class="divider"></span>
                                        <div class="email-author">
                                            <img src="http://via.placeholder.com/35x35" alt="">
                                            <span class="author-name" id="xinName">发信人名称：[[${session.oneInfoshou.relativesinfo.relativesName}]]</span>
                                            <span class="author-name" id="myid" hidden>[[${session.oneInfoshou.caregiverinfo.caregiverEmpno}]]</span><!--我的编号-->
                                            <span class="email-date" id="xinDate">日期：[[${session.oneInfoshou.chatlogSenddate}]] </span> <span class="email-date" id="xintime">时间：[[${session.oneInfoshou.chatlogSendtime}]]</span>
                                        </div>
                                        <span class="divider"></span>
                                    </div>
                                    <!--邮件主题内容-->
                                    <div class="email-body">
                                        <span>
                                            尊敬的先生您好,<br><br>
                                            <span id="xincontent">邮件内容:[[${session.oneInfoshou.chatlogSendcontent}]]</span><br><br>
                                            期待您的回复！
                                        </span>
                                    </div>
                                    <!--邮件回复栏-->
                                    <div class="email-reply">
                                        <div class="summernote" id="replytext"></div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Row -->
                    </div><!-- Main Wrapper -->
                    <div th:replace="common_office :: #page_footer_ssd"></div><!--标识结束-->
                </div>
            </div><!-- /Page Content -->
        </div><!-- /Page Container -->
        <!-- Javascripts -->
        <script>
            //给右侧邮件赋值
            function selectinfo(chatlogId) {
                //alert("查询信息"+chatlogId);
                $.ajax({
                    cache: false,//每次读取的是最新的数据。
                    url: "/selectone/chatlog/byid",
                    type: "POST",//方法类型
                    dataType: "json",//预期服务器返回的数据类型
                    clearForm: true,// 成功提交后，清除所有的表单元素的值.
                    data: {
                        chatlogId : chatlogId,
                    },
                    success: function(data) {
                        if (data.chatlogSource==23){//收件箱
                            $("#chatlogId").text(data.chatlogId);
                            $("#xinId").text(data.relativesinfo.relativesSerialnumber);
                            $("#xinName").text("发信人名称："+data.relativesinfo.relativesName);
                            $("#xinDate").text("日期："+data.chatlogSenddate+"时间："+data.chatlogSendtime);
                            $("#xincontent").text("内容："+data.chatlogSendcontent);
                        } else {//发件箱
                            $("#chatlogId").text(data.chatlogId);
                            $("#xinId").text(data.caregiverinfo.caregiverEmpno);
                            $("#xinName").text("发信人名称："+data.caregiverinfo.caregiverName);
                            $("#xinDate").text("日期："+data.chatlogSenddate+"时间："+data.chatlogSendtime);
                            $("#xincontent").text("内容："+data.chatlogSendcontent);
                        }
                    },
                    error: function(data) {
                        alert("查询信息失败");
                        location.reload();
                    }
                });
            }
            //回复邮件

        </script>


        <!--引入js-->
        <div th:include="common_jscss :: #commonscript_js"><!--id声明的--></div>
    </body>
</html>